<!---->
<!--if success.length is 0 it will automatically be falsey-->
<% if(success && success.length) { %>
    <h1 style="color: green;"><%= success %></h1>
<% } %> 

<% if(error && error.length) { %>
    <h1 style="color: red;"><%= error %></h1>
<% } %> 
