<% layout('layouts/boilerplate') -%>

<h1><%= currentUser.username %>'s Profile</h1>

<p>Recent Posts:</p>

<% posts.forEach(function(post){ %>
<div>
    <a href="/posts/<%= post.id %>"><%= post.title %></a>
</div>
<% }) %>

<p>Update Info:</p>
<form action="/profile?_method=PUT" method="POST"></form>